.dateContainer {
    flex-wrap: wrap;
}

.dateTextField {
    margin-top: 1.5%;
    margin-bottom: 2% !important;
    width: 200;
}

.uploadButton {
    margin-right: 3% !important;
}

.file {
    margin-right: 10px;
    margin-bottom: 10px;
}