
.testingContainer{
    color: white;
}

.overlay{
    background-color: #F7F7F7;
    height: 80px;
}

.welcome{
    font-family: "Robota", sans-serif;
    color: black;
    margin-left: 45px;
    padding-top: 20px;
}

.highlight{
    color: #167EFB;
}