.container{
    width: 350px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.background{
    height: 160px;
    padding: 20px;
    color: white;
}

.info{
    background-color: #ECECEC;
    height: 75px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.subtitle{
    padding-top: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
}

.desc{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: black;
}

.enroll{
    width: 100px;
    padding: 7px;
    outline: none;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    opacity: 1;
}

.enroll:hover{
    opacity: 0.8;
    transition: 0.1s;
    cursor: pointer;
}